HTML {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right bottom, #67e8f9, #0891b2);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
